/*========== airplanet.css 2018_03_01 style ==========*/

/*========== main__nav style ==========*/

.main .main__nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: stretch;
	align-content: stretch;
}

.main__nav a{
	flex: 0 1 48px;
	display: block;
	padding: 20px 40px;
	text-decoration: none;
	text-transform: uppercase;
	color: #1c5bc3;
	font: bold 12px "roboto-bold";
}
	
.main .main__nav1{
	background: url("../images/airpl/airpl__icon_main02.png") left center no-repeat;
	color: #221f1f;
}

.main .main__nav2{
	background: url("../images/airpl/airpl__icon_team.png") left center no-repeat;
}

.main .main__nav2:hover{
	background: url("../images/airpl/airpl__icon_team02.png") left center no-repeat;
	color: #221f1f;
}	

.main .main__nav3{
	background: url("../images/airpl/airpl__icon_feed.png") left center no-repeat;
}

.main .main__nav3:hover{
	background: url("../images/airpl/airpl__icon_feed02.png") left center no-repeat;
	color: #221f1f;
}

/*========== main__content style ==========*/

.main{
	padding: 0 0 72px;
}

.main__content{
	max-width: 880px;
	margin-left: auto;
}

.main__content_head{
	max-width: 880px;
	min-height: 354px;
	margin-left: auto;
	background: url("../images/airpl/airpl__main_bg.png") center center no-repeat;
	padding: 112px 64px;
}

.main__content_head h1{
	font: bold 48px "roboto-bold";
	color: #221f1f;		
}

.main__content_text{
	max-width: 704px;	
	margin-right: auto;
	padding: 30px 0px 70px;
}

.main__content_text p, .main__content_text ul li{
	font: normal 18px/30px "roboto-light";
}

.main__content_text p, .main__content_text ul{
	margin-bottom: 16px;
}

.main__content_text strong{
	font: bold 18px "roboto-bold";
}

.main__content_text ul{
	margin-left: 24px;
}

.main__content_text ul li{
	list-style-type: disc;
	list-style-position: outside;	
}

.main__content_text ul li:first-child{
	margin-bottom: 12px;
}

.main__content_text_blue{
	background-color: #1c5bc3;
	padding: 18px 30px;
	color: #fff;
}

.main__content_text_blue a{
	color: #fff;
	font: bold 18px "roboto-bold";
}

.main__content_text_blue a:last-child{
	text-decoration: none;
}

/*========== main__content_partners style ==========*/

.main__content_partners h2{
	font: bold 48px "roboto-bold";
	color: #221f1f;
	margin-bottom: 68px;
}

.main__content_partnerstop, .main__content_partnersbottom{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.main__content_partners a{
	min-height: 64px;
}

.main__content_partnerstop{
	margin-bottom: 62px;
}

.main__partnes01, .main__partnes02, .main__partnes03, .main__partnes04, .main__partnes05, .main__partnes06{
	flex: 1 0 auto;		
}

.main__partnes01{
	background: url("../images/airpl/airpl__partners01_black.png") left center no-repeat;
}

.main__partnes01:hover{
	background: url("../images/airpl/airpl__partners01.png") left center no-repeat;
}

.main__partnes02{
	background: url("../images/airpl/airpl__partners02_black.png") left center no-repeat;
}

.main__partnes02:hover{
	background: url("../images/airpl/airpl__partners02.png") left center no-repeat;
}

.main__partnes03{
	background: url("../images/airpl/airpl__partners03_black.png") left center no-repeat;
}

.main__partnes03:hover{
	background: url("../images/airpl/airpl__partners03.png") left center no-repeat;
}

.main__partnes04{
	background: url("../images/airpl/airpl__partners04_black.png") left center no-repeat;
}

.main__partnes04:hover{
	background: url("../images/airpl/airpl__partners04.png") left center no-repeat;
}

.main__partnes05{
	background: url("../images/airpl/airpl__partners05_black.png") 25% center no-repeat;
}

.main__partnes05:hover{
	background: url("../images/airpl/airpl__partners05.png") 25% center no-repeat;
}

.main__partnes06{
	background: url("../images/airpl/airpl__partners06_black.png") 12% center no-repeat;
}

.main__partnes06:hover{
	background: url("../images/airpl/airpl__partners06.png") 12% center no-repeat;
}

/*========== responsive style ==========*/

/* Large devices Desktops (более 1200px) */
@media only screen and (min-width: 1201px) {

}

/* Medium devices Desktops (от 1200px до 993px) */
@media only screen and ( min-width: 993px) and (max-width: 1200px) {
	
}

/* Small devices Tablets (от 992px до 769px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {

}

/* Small devices Phones (от 768px до 481px) */
@media only screen and  (min-width: 481px) and (max-width: 768px) {

}

/* Extra small devices Phones (менее 480px) */
@media only screen and (max-width: 480px) {

}