/*========== comments global style 2018_03_01 ==========*/

*, *::after, *::before{
	box-sizing: border-box;
}

@font-face{
  font-family: "roboto-bold";
  src: url('../fonts/roboto-bold_1-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/roboto-bold_1-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-bold_1-webfont.woff') format('woff'); /* Pretty Modern Browsers */       
}

@font-face{
  font-family: "roboto-light";
  src: url('../fonts/roboto-light_1-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/roboto-light_1-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-light_1-webfont.woff') format('woff'); /* Pretty Modern Browsers */       
}

@font-face{
  font-family: "roboto-lightitalic";
  src: url('../fonts/roboto-lightitalic_1-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/roboto-lightitalic_1-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-lightitalic_1-webfont.woff') format('woff'); /* Pretty Modern Browsers */       
}

img{
	max-width: 100%;
	height: auto;
}

body{
	font: normal 16px "roboto-light", Arial, sans-serif;
	color: #221f1f;
}

.container{
	max-width: 1088px;
	margin: 0 auto;
}

/*========== header style ==========*/

.header{
	background-color: #1c5bc3;
	color: #fff;
	padding: 20px 0;
}

.header .container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-items: stretch;
}

.header__contact{
	position: relative;
}

.header__contact_telephone a{
	font: bold 20px "roboto-bold";
	color: #fff;
	text-decoration: none;
}

.header__contact_graf{
	font: bold 14px "roboto-bold";
	text-decoration: underline;
	text-align: right;
}

.header__contact_graf:hover{
	color: rgba(255, 255, 255, 0.7); 
	cursor: pointer;
}

.header__contact_work{
	position: absolute;
	left: 960px;
}

.header__contact:hover .header__contact_work{
	left: 12px;
	bottom: -102px;
}

.header__contact_worktime{
	font: bold 14px "roboto-bold";
	color: #1c5bc3;	
	text-align: center;
}

.header__contact_worklunch{
	font: bold 14px "roboto-light";
	color: #221f1f;
	text-align: center;
}

/*========== main__nav style ==========*/

.main .main__nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: stretch;
	align-content: stretch;
}

.main__nav a{
	flex: 0 1 48px;
	display: block;
	padding: 20px 40px;
	text-decoration: none;
	text-transform: uppercase;
	color: #1c5bc3;
	font: bold 12px "roboto-bold";
}
	
.main .main__nav1{
	background: url("../images/comm/comm__icon_main.png") left center no-repeat;
	color: #1c5bc3;
}

.main .main__nav1:hover{
	background: url("../images/comm/comm__icon_main02.png") left center no-repeat;
	color: #221f1f;
}

.main .main__nav2{
	background: url("../images/comm/comm__icon_team.png") left center no-repeat;
	color: #1c5bc3;
}

.main .main__nav2:hover{
	background: url("../images/comm/comm__icon_team02.png") left center no-repeat;
	color: #221f1f;
}	

.main .main__nav3{
	background: url("../images/comm/comm__icon_feed02.png") left center no-repeat;
	color: #221f1f;	
}

.main .main__nav3:hover{
	background: url("../images/comm/comm__icon_feed02.png") left center no-repeat;
	color: #221f1f;
}

/*========== main__content style ==========*/

.main__comments{
	padding: 44px 0 64px;	
}

.main__comments_wrapper{
	max-width: 880px;
	margin-left: auto;	
}

.main__breadcrumbs{
	font: italic 14px "roboto-italic";
	margin-bottom: 28px;
}

.main__breadcrumbs_home{	
	color: #1c5bc3;		
}

.main__breadcrumbs_home:hover{	
	color: #221f1f;		
}

.main__breadcrumbs_crew{
	color: #221f1f;
}

.main__comments_h2 h2{
	font: bold 48px "roboto-bold";	
	margin-bottom: 48px;
}

.main__comments_rec{
	padding-bottom: 72px;
}

.main__comments_recall{
	padding: 30px 0px;
	border-bottom: 1px solid #f4f4f4;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: stretch;
	align-content: stretch;
}

.main__comments_img{
	margin-right: 18px;
}

.main__comments_img img{
	border-radius: 50%;
}

.main__recall_date{
	font-size: 14px;
	line-height: 20px;
}

.main__recall_name{
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 12px;
}

.main__recall_message{
	font-size: 18px;
	line-height: 30px;
}

.main__comments_paginator{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	align-content: stretch;
}

.main__paginator_name{
	font-size: 14px;
	margin-right: 18px;
	color: #646464;
}

.main__paginator_link a{
	display: inline-block;
	font-size: 14px;
	text-decoration: none;
	color: #221f1f;
	font-weight: bold;
	padding: 8px 12px;
	border-radius: 4px;
	margin-right: -4px;
}

.main__paginator_link a:hover{
	color: #1c5bc3;
}

.main__paginator_link a:first-child{
	color: #646464;
}

.main__paginator_link .main__paginator_active{
	color: #fff;
	background-color: #1c5bc3;
}

.main__paginator_link .main__paginator_active:hover{
	color: #fff;
}

/*========== main__comments_form style ==========*/

.main__comments_form{
	max-width: 700px;
	margin: 0 auto;
	padding: 50px 68px;
	background-color: #f5f5f5;
	font-size: 14px;
}

.main__comments_form h2{
	font: bold 48px "roboto-bold";	
	margin-bottom: 28px;
	
}

.main__form_top{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
	margin-bottom: 18px;
}

.main__form_input1, .main__form_input2{
	width: 50%;
}

.main__form_input1{
	margin-right: 12px;
}

.main__form_input2{
	margin-left: 12px;
}

.main__form_label1, .main__form_label2{
	margin-bottom: 6px;
}

.main__form_input1 input, .main__form_input2 input{
	width: 100%;
	padding: 8px 16px;
	min-height: 44px;	
	color: #646464;
	border: transparent;
	border-radius: 4px;	
} 

.main__form_middle{
	margin-bottom: 18px;
}

.main__form_middle .main__form_textarea{
	margin-bottom: 6px;
}

.main__form_middle textarea{
	width: 100%;
	padding: 8px 16px;
	min-height: 88px;
	border: 1px solid #1c5bc3;
	border-radius: 4px;
	font: normal 14px "roboto-light";
}

.main__form_bottom{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.main__form_label3{
	margin-bottom: 6px;
}

.main__form_radio1, .main__form_radio2{	
	display: inline-block;
	margin-right: 18px;
}

.main__form_button input{
	font: bold 14px "roboto-light";
	letter-spacing: 2px;
	color: #fff;
	text-transform: uppercase;
	background: #1c5bc3 url('../images/comm/comm__form_submit01.png') 128px center no-repeat;
	padding: 18px 44px 18px 20px;
	border-radius: 4px;
	min-height: 44px;		
	border: transparent;
}

.main__form_button input:hover{
	cursor: pointer;
	background: #fff url('../images/comm/comm__form_submit02.png') 128px center no-repeat;
	color: #1c5bc3;	
}


/*========== footer style ==========*/

.footer{
	background-color: #1c5bc3;
	color: #fff;
	padding: 20px 0;
}

.footer .container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.footer__madein, .footer__logo, .footer_social{
	flex: 0 1 240px;
}

.footer__madein p{
	font: normal 14px/18px "roboto-light";
}

.footer__madein p a{
	font: bold 14px/18px "roboto-bold";
	color: #fff;
}

.footer__madein .footer__madein_par02 a{
	text-decoration: none;
}

.footer__social p{
	font: bold 14px/18px "roboto-bold";
	margin-bottom: 8px;
}

.footer__social_icon a{
	display: inline-block;
	margin-right: 8px;
}

.footer__social_icon a img{
	opacity: 0.7;	
}

.footer__social_icon a img:hover{
	opacity: 1;
}

/*========== responsive style ==========*/

/* Large devices Desktops (более 1200px) */
@media only screen and (min-width: 1201px) {

}

/* Medium devices Desktops (от 1200px до 993px) */
@media only screen and ( min-width: 993px) and (max-width: 1200px) {
	
}

/* Small devices Tablets (от 992px до 769px) */
@media only screen and (min-width: 769px) and (max-width: 992px) {

}

/* Small devices Phones (от 768px до 481px) */
@media only screen and  (min-width: 481px) and (max-width: 768px) {

}

/* Extra small devices Phones (менее 480px) */
@media only screen and (max-width: 480px) {

}